@using AutoMapper;

<EditForm Model="@colorForm" OnValidSubmit="@submitColor">

  <DataAnnotationsValidator />
  <ValidationSummary />

  <label>
    Name:
    <InputText @bind-Value="colorForm.Name" />
    <ValidationMessage For="@(() => colorForm.Name)" />
  </label>
  
  <label>
    Hex Code:
    <InputText @bind-Value="colorForm.HexCode" />
    <ValidationMessage For="@(() => colorForm.HexCode)" />
  </label>
  
  <button>@ButtonText</button>

</EditForm>

@code {

  [Parameter]
  public string ButtonText { get; set; } = "Add Color";

  [Parameter]
  public EventCallback<INewColor> OnSubmitColor { get; set; }

  private IMapper mapper;

  private ColorFormModel colorForm = new();

  protected override void OnInitialized()
  {
    var mapperConfig = new MapperConfiguration(config => {
      config.CreateMap<ColorFormModel, NewColor>();
    });

    mapper = mapperConfig.CreateMapper();
  }

  private async Task submitColor()
  {
    await OnSubmitColor.InvokeAsync(mapper.Map<NewColor>(colorForm));
    colorForm = new();
  }

  class ColorFormModel
  {
    [Required]
    [MinLength(3, ErrorMessage = "Color name must be at least three characters.")]
    public string Name { get; set; } = "";
    
    [Required]
    //[RegularExpression(@"^[0-9a-fA-F]{6}$", ErrorMessage = "Color hexcode is RRGGBB.")]
    [HexString(6)]
    public string HexCode { get; set; } = "";
  }

}
