@page "/color-tool"

<ToolHeader HeaderText="@colorToolHeader"></ToolHeader>
<ColorList Colors="@Colors" OnDeleteColor="@DeleteColor" />
<ColorForm ButtonText="Add Color" OnSubmitColor="@AddColor" />

@*@if (true) {
  <div>@(1 + 3)</div>
}*@

@code {

  private string colorToolHeader = "Color Tool";



  public List<IColor> Colors { get; set; } = new List<IColor>() {
    new Color() { Id = 1, Name = "red", HexCode = "ff0000" },
    new Color() { Id = 2, Name = "green", HexCode = "00ff00" },
    new Color() { Id = 3, Name = "blue", HexCode = "0000ff" },
  };

  public void AddColor(INewColor newColor)
  {
    var color = new Color()
      {
        Id = Colors.Any() ? Colors.Max(c => c.Id) + 1 : 1,
        Name = newColor.Name,
        HexCode = newColor.HexCode,
      };

    Colors.Add(color);
  }

  public void DeleteColor(int colorId)
  {
    Colors.Remove(Colors.Find(color => color.Id == colorId));
  }



}
